@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    
    .header-end{
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .welcome-user-name{
            width: 30%;
            border-right: 1px solid rgb(209, 200, 200);
        }
        .language-switch{
            width: 18%;
            margin-left: 10px;
            border-right: 1px solid rgb(209, 200, 200);

            
            .language-vi{
                margin-right: 10px;
            }
            .language-en{
                margin-right: 10px;
            }
            img{
                width: 20px;
                height: 20px;
                border-radius: 20px;
                opacity: 0.6;
                &.active{
                    opacity: 1.6;
                }
                
            }
        }
        .btn-logout {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 10%;
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
            }
            .icon {
                font-size: $base-size + 1px;
            }
        }
    }
    
}